.admin-dashboard {
  display: flex;
  justify-content: center;
  position: relative;

  .__tab-panel {
    padding: 2rem;
    width: 100%;
    max-width: 1400px;
  }

  .__main-tabs {
    margin-top: 4rem;
    width: 250px;

    .MuiButtonBase-root {
      padding: 1rem;
      font-size: 1.25rem;

      &.Mui-selected {
        background-color: #a3bfd8;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: $large-tablet) {
  .admin-dashboard {
    flex-direction: column;

    .__main-tabs {
      margin-top: 1.25rem;
      width: 100%;

      .MuiButtonBase-root {
        max-width: none;
      }
    }
  }
}
