.orders {
  .header {
    display: flex;
    justify-content: space-between;

    .MuiInputBase-root {
      border-radius: 1rem;
      width: 350px;
    }

    .MuiButtonBase-root {
      border: 1px solid #9cafaf;
      margin: 0 0.25rem;
      min-height: 0;
      height: 32px;

      &.Mui-selected {
        background-color: #9cafaf;
        color: #ffffff;
      }
    }

    .MuiTabs-root {
      .MuiTabs-indicator {
        background-color: #ffffff;
      }
    }
  }

  .controls {
    display: flex;
    gap: 1rem;
  }
}
