.orders {
  position: relative;

  .search-filter {
    background-color: #cbd8d8;
    border-radius: 1rem;
    position: sticky;
    top: 12rem;
    padding: 1rem;
    width: 100%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 100;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 1rem;

      .MuiInputBase-root {
        border-radius: 1rem;
      }

      .MuiTabs-root {
        .MuiTabs-indicator {
          background-color: #ffffff;
        }
      }

      .controls {
        display: flex;
        gap: 1rem;
        width: 100%;
        align-items: flex-end;

        > :first-child {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
        }

        .date-range-picker {
          .react-datepicker-wrapper {
            flex-grow: 0;
          }
        }
      }
    }

    .cats {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      top: 20rem;
      width: 100%;

      .cat {
        display: flex;
        flex-grow: 1;
        max-width: 275px;
      }

      .MuiPaper-root {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;
        border-radius: 1rem;
        padding: 1rem;
        width: 100%;

        .MuiChip-root {
          padding: 0rem 0.5rem;
        }

        .MuiTypography-root {
          font-weight: 600;
        }
      }
    }
  }
  .accordion-cats {
    display: none;
  }
}

.orders-list {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;

  .order {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    height: fit-content;
    margin-bottom: 1rem;
    border-radius: 1rem;
    min-width: 200px;

    &.MuiPaper-root {
      flex-grow: 1;
      max-width: 275px;
    }

    .MuiBox-root {
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        border-bottom: 1px solid black;
      }
    }

    .actions {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 0;
      height: 30px;

      .MuiButtonBase-root {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}

@media (max-width: $mobile) {
  .orders {
    .search-filter {
      .header {
        .controls {
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .accordion-cats {
      .new-accord-orders-list {
        justify-content: center;
      }
    }
  }
}

@media (max-width: $large-tablet) {
  .orders {
    .search-filter {
      .cats {
        display: none;
      }
    }
    .orders-list {
      display: none;
    }
    .accordion-cats {
      display: block;
      margin-top: 1rem;

      .MuiPaper-root {
        margin-bottom: 0.5rem;
      }

      .MuiPaper-root:nth-child(1) {
        background-color: #a3bfd8;
      }

      .MuiPaper-root:nth-child(2) {
        background-color: #cdcbbc;
      }

      .MuiPaper-root:nth-child(3) {
        background-color: #ddafac;
      }

      .MuiPaper-root:nth-child(4) {
        background-color: #a3d8a3;
      }

      .new-accord-orders-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .order {
          display: flex;
          flex-direction: column;
          padding-bottom: 0;
          height: fit-content;
          margin-bottom: 1rem;
          border-radius: 1rem;
          width: 250px;
          background-color: white;

          .MuiBox-root {
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
              border-bottom: 1px solid black;
            }
          }

          .actions {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 0;
            height: 30px;

            .MuiButtonBase-root {
              margin-left: 0.5rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
