.NavLink {
  overflow: hidden;
  transition: height 1s ease;
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
  background-color: #e6efeecc;
  backdrop-filter: blur(6px);
}

.active {
  height: 325px;
  width: 100%;
}

.inactive {
  height: 0;
}
