.div {
  overflow: hidden;
  transition: height 1s ease;
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
  background-color: rgb(205, 203, 188, 0.8);
  backdrop-filter: blur(6px);
}

.active {
  height: 300px;
  width: 100%;
}

.inactive {
  height: 0;
}
