.div {
  height: 0px;
  overflow: hidden;
  transition: height 1s ease;
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
}

.active {
  height: 300px;
  width: 100%;
  background-color: rgb(205, 203, 188, 0.8);
}

.inactive {
  visibility: hidden;
}
