html {
  background-color: #e6efee;
}

html * {
  font-family: "Bebas Neue";
}

body {
  margin: 0;
  padding: 0;
}

.MuiContainer-root,
.MuiContainer-maxWidthFalse,
.css-udn1tz-MuiContainer-root {
  padding: 0 !important;
}

.MuiToggleButton-root {
  border: 1px solid #555555 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292929;
}

p,
li,
td,
th,
span,
a,
div {
  color: #555555;
}

#order-now-btn #order-now-arrow {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

#order-now-btn:hover #order-now-arrow {
  transform: rotate(90deg);
}
